* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 14px;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100vw;
    height: 10vh;
    min-height: 10vh;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header_container {
    width: 85vw;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#header_logo {
    width: 110px;
    height: auto;

}

.header_left_container {
   display: flex;
   flex: 1;
   gap: 20px;
   align-items: center;

}

.header_nav_left_list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}
.header_nav_item {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right_container {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.header_link {
    text-decoration: none;
    cursor: pointer;
}

.header_link:visited {
    color: black;
}

.login_button {
    padding: 6px 10px;
    outline: none;
    border: none;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    transition: ease-in-out .2s;
    cursor: pointer;
}

.register_button {
    padding: 6px 10px;
    outline: none;
    border: none;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    transition: ease-in-out .2s;
    cursor: pointer;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes swing {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-50deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(50deg);
    }

    85% {
        transform: rotate(30deg);
    }

    90% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(0);
    }
}

.login_button:hover{
    transform: scale(1.1);
    transition: ease-in-out .2s;
}

.register_button:hover{
    transform: scale(1.1);
    transition: ease-in-out .2s;
}


.bi-moon-fill:hover {
    cursor: pointer;
    animation: pulse 0.5s ease;
}
