section {
    width: 85vw;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.main_image_section{
    margin: 20px 0px;;
    border-radius: 30px;
    height: 70vh;
    background: radial-gradient(circle, #EDEDED, #C1C1C1);
}
.main_image_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 0px 35px;
}

.main_image_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 120px 0px;
}

.main_image_t1 {
    font-size: 3.5em;
    font-weight: 300;
    letter-spacing: 2px;
}

.main_image_t2 {
    font-size: 4.8em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #7D29D2;
    margin-bottom: 20px;
    text-shadow: #00000056 2px 2px 5px;
}

.main_image_p1, .main_image_p2, .p1_span{
    font-size: 18px;
    line-height: 22px;
}

.main_image_p1 {
    font-weight: 700;
    margin-bottom: 15px;
}

.p1_span {
    color:#7D29D2;
}

.main_image_button {
    margin-top: 35px;
    background-color: #A348FF;
    padding: 10px 20px;
    border: none;
    border-radius: 22px;
    font-size: 14px;
    color: white;
    transition: ease .2s;
}

.main_image_button:hover {
    transform: scale(1.1);
}

.main_image_div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_image {
    height: 100%;
    padding: 50px 0px;
}


.cards_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.card {
    width: 100%;
    height: 370px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 40px;
    overflow: hidden;
}

.earpods {
    height: 80%;
}

.purple_card_t1 {
    font-size: 44px;
    font-weight: 900;
    color: #0e0e0e;
}

.purple_card_p1, .black_card_p1{
    margin-top: 10px;
    font-size: 16px;
    color: white;
}

.purple_card_button, .black_card_button {
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #0e0e0e;
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    transition: ease .5s;
    font-size: 14px;
}

.purple_card_button:hover,.black_card_button:hover {
    transform: scale(1.1);
    transition: ease .5s;
}

.card_purple{
    background: linear-gradient(180deg, #B870FF, #7500EA);
}

.card_hp {
    gap: 0;
}

.headphone {
    width: 60%;
    position: relative;
    right: -12%;
}

.card_black {
    background: linear-gradient(180deg, #3D3D3D, #040404);
    gap: 0;
}


.black_card_t2, .black_card_t1 {
    font-size: 40px;
    font-weight: 900;
    color: #A348FF;
}


.black_card_t2 {
    color: #ffffffdc;
}


.black_card_button {
    background-color: #A348FF;
}

.wired_hp {
    width: 80%;
    position: relative;
    right: 0;
}

