* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 14px;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

section {
    width: 85vw;
    background: radial-gradient(circle, #EDEDED, #C1C1C1);
    display: flex;
    justify-content: center;
}


.main_image_section{
    margin: 20px;
    border-radius: 30px;
    height: 70vh;

}
.main_image_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 0px 35px;
}

.main_image_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 120px 0px;
}

.main_image_t1 {
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 2px;
}

.main_image_t2 {
    font-size: 4.1em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #7D29D2;
    margin-bottom: 20px;
}

.main_image_p1, .main_image_p2, .p1_span{
    font-size: 18px;
    line-height: 22px;
}

.main_image_p1 {
    font-weight: 700;
    margin-bottom: 15px;
}

.p1_span {
    color:#7D29D2;
}

.main_image_button {
    margin-top: 35px;
    background-color: #7D29D2;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    transition: ease .2s;
}

.main_image_button:hover {
    transform: scale(1.1);
}

.main_image_div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_image {
    
    height: 100%;
    padding: 50px 0px;

}