body {
    background-image: url('../../static/img/wave_background.png');
    background-size: cover;
}

.login_section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
}

.blur-background {
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    backdrop-filter: blur(2px); /* Apply blur effect */
    border-radius: 10px;
}

.login-image {
    width: 50%;
    background-color: #7D29D2;
}

.headset-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    color: #7D29D2;
    margin-bottom: 20px;
    font-size: 20px;
}

form, .form-group, .message_div  {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    flex-direction: column;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
    gap: 10px;
}

.form-group .bi {
    color: #651db1;
    font-size: 20px;
}

label {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

input {
    margin-top: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #7D29D2;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #7D29D2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #651db1;
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.signup-text a {
    color: #7D29D2;
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}

.message_div {
    padding: 10px;
    background-color: rgb(216, 60, 60);
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}


.message_text {
    color: white;
    font-weight: 600;
    text-align: center;
    width: 100%;
    font-size: 12px;
}