body {
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*====================Header========================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 14px;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100vw;
    height: 10vh;
    min-height: 10vh;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header_container {
    width: 85vw;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#header_logo {
    width: 110px;
    height: auto;

}

.header_left_container {
   display: flex;
   flex: 1;
   gap: 20px;
   align-items: center;

}

.header_nav_left_list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}
.header_nav_item {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right_container {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.header_link {
    text-decoration: none;
    cursor: pointer;
}

.header_link:visited {
    color: black;
}

.bi-moon-fill:hover {
    cursor: pointer;
    animation: pulse 0.5s ease;
}
.side_bag {
    position: fixed;
    top: 0;
    right: -750px; /*Escondido por padrao*/
    width: 700px;
    height: 100%;
    background-color: #7D29D2;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 2;
}

.side_bag.open {
    right: 0; /* Exibe o painel lateral */
}


.bag_icon, .perfil_icon {
    cursor: pointer;
}
#bag_itens {
    width: 100%;
    background-color: #ffffff;
    height: 70%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow-y: auto;
}
.cart_total {
    margin-top: 20px;
    margin-bottom: 20px;
}

#total {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
}

.buy_bag {
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    border: 20px;
    border-radius: 20px;
}

.close_bag {
    width: 100%;   
    padding: 10px;
    background-color: green;
    color: #fff;
    border: 20px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.side_bag h2 {
    font-weight: 600;
    color: #ffffff;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

#search_bar {
    width: 250px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search_input {
    width: 100%;
    background-color: #ffffff;
    outline: none;
    border: none;
    vertical-align: middle;
}

.bi-search, .bi-caret-right-fill {
    font-size: 16px;
    color:#7D29D2;
    padding: 0px 20px;;
}

table {
    width: 100%;
    margin-bottom: auto;
    border-collapse: collapse;
}

thead tr {
    border-bottom: 3px solid #eee;
}

thead th {
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #666;
}


.productIdentification {
    display: flex;
    align-items: center;
}

.productIdentification img {
        border-radius: 6px;
        height: 120px;
        width: 100;
        object-fit: cover;
}

.productIdentification .info {
    margin-left: 20px;
}

.productIdentification .info .name_product {
    font-size: 15px;
}

.productIdentification .info .id,
.productIdentification .info .category,
.productIdentification .info .brand {
    font-size: 12px;
    color: #666;
}

.price_product {
    margin-right: 20px;
    font-size: 15px; 
    font-weight: bold; 
    color: #333; 
}

.product_qty {
    margin-left: 15px;
    width: 40px; 
    padding: 5px; 
    text-align: center; 
    font-size: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.product_remove {
    background-color: #e74c3c; 
    color: white;
    border: none; 
    padding: 8px 12px; 
    font-size: 12px; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.product_remove:hover {
    background-color: #c0392b; 
}

tbody tr td {
    padding: 30px 0;
}

/* ===================FILTERS========================*/

#filters_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    max-width: 85vw;
}


#filter {
    display: flex;
    width: 80vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#filter_categories {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1%;
    flex-wrap: wrap;
}

.filter_category {
    position: relative;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 15px;
    text-indent: 15px;
    transition: ease 0.5s;
    cursor: pointer;
}

.filter_category:hover {
    opacity: 60%;
    font-size:larger;
    letter-spacing: 20px;
    text-indent: 20px;
    transition: ease 0.5s
}

.filter_category_img {
    width: 100%;
}

.filter_category_title {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    color: inherit;
    letter-spacing: inherit;
    text-indent: inherit;
}

/*====================View Product===================*/
main {
    flex: 1;
    padding: 20;

}

#viewProducts {
    background-color: #fff;
    max-width: 85vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    align-items: flex-start;
}

.product_item {
    background-color: #fff;
    border: 2px solid #7D29D2;
    border-radius: 8px;
    overflow: hidden;
    height: 610px;
    width: 310px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    /*
    
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    */
}


.product_item_image {
    justify-content: center;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.main_product_info {
    padding: 15px;
    flex-direction: column;
    align-items: center; 
    flex-grow: 1; 
}

.product_item_div_text {
    margin-bottom: 15px;
}

.product_item_name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product_item_id {
    margin-bottom: 5px;
}

.product_item_category {
    margin-bottom: 5px;
}

.product_item_connectivity {
    margin-bottom: 5px;
}

.product_item_brand {
    margin-bottom: 5px;
}

.product_item_price {
    margin-bottom: 5px;
}

.product_item_actions {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #7D29D2;
    margin-top: auto;
}   

.cart_button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart_button:hover {
    background-color: #f44336;
}