body {
    background-image: url('../../static/img/wave_background.png');
    background-size: cover;
}

.hide {
    display: none;
}


.main_info {
    flex-wrap: wrap;
    max-width: 60vw;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.userDates {
    text-align: left;
    margin-top: 40px;
}

.userOrders {
    overflow-y: auto;
}

.userDates, .userOrders {
    text-align: left;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    max-height: 700px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.userDates h3, .title_orders {
    text-align: center;
    font-size: 20px;
    color: #7D29D2;
    margin-bottom: 30px;
}


.userDates p {
    color: black;
    margin: 10px;
}

.userDates p::before {
    content: attr(data-label) ":";
    font-weight: bold;
    color: #7D29D2;
    display: inline-block;
    width: 160px;
}

.userDates button {
    margin-top: 25px;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 7px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.edit_button, .delete_button {
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: ease .3s;
    background-color: #7D29D2;
}


.edit_button:hover {
    background-color: #45a049;
    transition: ease .3s;
}


.delete_button:hover {
    background-color: #d62814;
    transition: ease .3s;
}

.top_information_box h1{
    text-align: center;
    margin-top: -25px;
    color: #7D29D2;
}

.editPerfil {
    text-align: left;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 500px;
    max-height: 800px;
    margin: 25px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editPerfil h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.close_window_button {
    margin-left: 340px;
    background-color: #7D29D2;
    color: white;
    padding: 5px 6px;
    border-radius: 10px;
}

.close_window_button:hover {
    background-color: #c0392b;
}

.label_div label {
    color: #7D29D2;
    font-size: 16px;
}

.label_div {
    margin-bottom: 20px;
}

.label_div input {
    border-radius: 10px;
    padding: 3px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #7D29D2;
    width: 100%;
}


label {
    width: 100px; 
    margin-right: 10px; 
}

form {
    display: flex;
    flex-direction: column;
}

.updateDates {
    background-color: #7D29D2;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 10px;
}

.updateDates:hover {
    background-color: #45a049;
}

#ordersList {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.order {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    min-height: 320px;
    max-height: 320px;
    overflow-y: auto;
}

.product {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
}

.product img {
    max-width: 60px;
    height: auto;
    margin-right: 15px;
    border-radius: 8px;
}

.product-info {
    flex: 1;
}

.product h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
}

.product p {
    margin: 5px 0;
}

.product p strong {
    font-weight: bold;
}

.order p {
    margin: 5px 0;
}