@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body {
    background-image: url('../../static/img/wave_background.png');
    background-size: cover;
    background-attachment: fixed;
}

.register_section {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
}

.blur-background {
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    backdrop-filter: blur(2px); /* Apply blur effect */
    border-radius: 10px;
}

.login-image {
    width: 50%;
    background-color: #7D29D2;
}

.headset-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 450px;
}

.container h1 {
    color: #7D29D2;
    margin-bottom: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form_control {
    margin-bottom: 10px;
    position: relative;
}

.form_control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #7D29D2;
}
.form_control span {
    color: #7D29D2;
    padding: 5px;
    font-size: 16px;
}

.form_control span a {
    font-weight: 500;
    color: #7D29D2;
    margin-left: 5px;
}

.two_form {
    display: flex;
    gap: 10px;
}

.form_control input {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #7D29D2;
    height: 35px;
    width: 100%;
    padding: 0 10px 0 45px; 
    border: 2px solid #000000;
    border-radius: 30px;
    display: block;
}

.form_control i {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 20px;
    color: #7D29D2;
    visibility: hidden;
}

.form_control small {
    visibility: hidden;
    position: absolute;
    margin-top: -15px;
    margin-left: 25px;
    font-size: 14px;
}

.form_control.error small {
    color: #DB5A5A;
    visibility: visible;
}


.form_control.error input {
    border: 3px solid #DB5A5A;
}


.form_control.error i .img-error {
    visibility: visible;
}


.form_control.success input {
    border: 3px solid #4ECA64;
}

.form_control.success i .img-success {
    visibility: visible;
}

.form button {
    background-color: #4ECA64;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #584ff5;
    transition: 0.3s;
}