<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/page_buy.css">
</head>

<body>
    <header class="header">
        <div class="header_container">
            <div class="header_left_container">
                <img src="../../static/img/logo.png" alt="Tune Wave Logo" id="header_logo">
                <nav class="header_nav_left">
                    <ul class="header_nav_left_list">
                        <a class="header_link" href=""><li class="header_nav_item">Home</li></a>
                        <a class="header_link" href=""><li class="header_nav_item">Loja</li></a>
                        <a class="header_link" href=""><li class="header_nav_item">Contato</li></a>
                    </ul>
                </nav>
            </div>
            <div class="header_right_container">
                <!--------------ICON PERFIL------------->
                <div class="perfil_icon" id="perfil_icon">
                    <i class="bi bi-person-circle"></i>
                </div>

                <!--------------ICON BAG--------------->
                <div class="bag_icon" id="bag_icon">
                    <i class="bi bi-bag"></i>
                </div>

                <!-------Painel lateral da bolsa--------->
                <div class="side_bag" id="side_bag">
                    <h2>Your Bag</h2>

                    <div id="bag_itens">
                        <!--------Itens do carrinho------->
                    </div>

                    <!------------Botão Buy---------------->
                    <button id="buy_bag" class="buy_bag">Buy</button>

                    <!------------Botão Close-------------->
                    <button id="close_bag" class="close_bag">Close</button>
                
                </div> 
                <i class="bi bi-search"></i>
                <i class="bi bi-moon-fill"></i>

            </div>        
    </header>

    <!------------Produtos Loja-------------->
    <main>
        <section id="viewProducts">
            
        </section>
    </main>


    
    <script src="../../static/js/page_buy.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>