<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../../static/css/product_management.css">
    <link  rel="stylesheet" href="../../static/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <title>Admin Product Management</title>
</head>
<body>
    <header>
        <div class="header_container">
            <div id="left_header">
                <img id="header_logo" src="../../static/img/logo.png" alt="">
                <div id="bar"></div>
                <h1 class="header_title">PRODUCT<br>MANAGEMENT</h1>
            </div>
            <div id="center_header">
                <div class="action_header_container select_action">
                    <i class="action_icon bi bi-cart"></i>
                    <p class="action_header_text">Products</p>
                </div>
            </div>
            <div id="right_header">
                <p class="right_header_p">Admin, <a class=" header_link right_header_p_purple" onclick="logout()">Logout</a>
            </div>
        </div>
    </header>
    <section id="products_section">
        <div id="left_products_section">
            <div id="search_bar" class="hide">
                <i class="bi bi-search"></i>
                <input id="search_input" type="text" placeholder="Search for product name or id"/>
                <i class="bi bi-caret-right-fill"></i>
            </div>
            <div id="products_list_container">
                
            </div>
        </div>
        <div id="right_products_section">
            <button id="add_product_button" class="product_item_action_button">Register Product</button>   
        </div>
        
    </section>
    <div id="information_box" class="hide less-opacity">
        <div id="stock_information" class="hide">
            <div class="top_informatioon_box">
                <button onclick="closeProductWindow()" class="close_window_button">
                    <i class="bi bi-x-lg"></i>
                </button>
                <p id="stock_product_name" class="information_box_title">Product Name (ID: 323)</p>
            </div>

            <p id="stock_product_status" class="product_item_text"><strong>Status:</strong> In Stock </p>
            <br>
            <form id="product_item_colors">
                <label for="qt">Quantity: </label>
                <input id="quantity_input" name="qt" type="number">
                <button class="product_item_action_button">Save</button>
            </form>
            <div>
                <button class="product_item_action_button" onclick="closeStockInformation()"> Return </button>
            </div>
        </div>
        <div id="add_product" class="hide">
            <div class="top_informatioon_box">
                <button id="close_productForm" class="close_window_button">
                    <i class="bi bi-x-lg"></i>
                </button>
                <h1 class="information_box_title">Register product</h1>
            </div>
            <form id="productForm">
                <div class="label_div">
                    <label for="name">Name:</label>
                    <input class="productForm_input" type="text" id="name" name="name" required>
                    <br>
                </div>

                <div class="label_div">
                    <label for="price">Price (R$):</label>
                    <input class="productForm_input" type="number" id="price" name="price" step="0.01" required>
                    <br>
                </div>

                <div class="label_div">
                    <label for="category">Category:</label>
                    <select class="productForm_input" name="category" id="category">
                        <option value="Headphones">Headphone</option>
                        <option value="Earbuds">Earbuds</option>
                        <option value="In_ear">In-Ear</option>
                        <option value="Headsets">Headsets</option>
                        <option value="Noise-Cancelling">Noise-Cancelling</option>
                    </select>
                </div>

                <div class="label_div">
                    <label for="connectivity">Connectivity:</label>
                    <select class="productForm_input" name="connectivity" id="connectivity">
                        <option value="Wireless">Wireless</option>
                        <option value="Wired">Wired</option>
                        <option value="Hybrid">Hybrid</option>
                    </select>
                </div>

                <div class="label_div desc_div">
                    <label for="description">Description:</label>
                    <textarea class="productForm_input" id="description" name="description" rows="4" required></textarea>
                    
                </div>

                <div class="label_div">
                    <label for="brand">Brand:</label>
                    <input class="productForm_input" type="text" id="brand" name="brand" required>
                    <br>
                </div>

                <div class="label_div img_div">
                    <label for="image">Image:</label>
                    <input id="input_imge" type="file" id="image" name="image" accept="image/*">
                    
                </div>

                <div class="label_div stock_div">
                    <label for="stock">Stock: </label>
                    <input type="number" min="0" step="1" class="productForm_input" id="stock" name="stock" required>
                    <br>
                </div>

                <button style="width: 100%;" class="product_item_action_button" type="submit">Add Product</button>
            </form>
        </div>
        <div id="edit_product" class="hide">
            <div class="top_informatioon_box">
                <button id="close_editForm" class="close_window_button">
                    <i class="bi bi-x-lg"></i>
                </button>
                <h1 class="information_box_title">Edit Product</h1>
            </div>
            <form id="editProductForm" data-product-id="">
                <p id="editForm_productId"></p>
                <br>
                <div class="label_div">
                    <label for="name">Name:</label>
                    <input id="name_editForm" class="productForm_input" type="text" id="name" name="name" required>
                    <br>
                </div>

                <div class="label_div">
                    <label for="price">Price (R$):</label>
                    <input id="price_editForm"  class="productForm_input" type="number" id="price" name="price" step="0.01" required>
                    <br>
                </div>

                <div class="label_div">
                    <label for="category">Category:</label>
                    <select class="productForm_input" name="category" id="category_editForm">
                        <option value="Headphones">Headphone</option>
                        <option value="Earbuds">Earbuds</option>
                        <option value="In_ear">In-Ear</option>
                        <option value="Headsets">Headsets</option>
                        <option value="Noise-Cancelling">Noise-Cancelling</option>
                    </select>
                </div>

                <div class="label_div">
                    <label for="connectivity">Connectivity:</label>
                    <select class="productForm_input" name="connectivity" id="connectivity_editForm">
                        <option value="Wireless">Wireless</option>
                        <option value="Wired">Wired</option>
                        <option value="Hybrid">Hybrid</option>
                    </select>
                </div>

                <div class="label_div desc_div">
                    <label for="description">Description:</label>
                    <textarea class="productForm_input" name="description" id="desc_editForm" rows="4" required></textarea>
                </div>

                <div class="label_div">
                    <label for="brand">Brand:</label>
                    <input id="brand_editForm" class="productForm_input" type="text" id="brand" name="brand" required>
                    <br>
                </div>

                <button style="width: 100%;" class="product_item_action_button" type="submit">update Product</button>
            </form>
        </div>
    </div>
    <div id="message" class="success hide">
        <i class="bi bi-info-circle"></i>
        <p id="error_message">error_message</p>
        <i id="close_error_message" class="bi bi-x"></i>
    </div>


</div>

<script>
    function redirectLogin(){
        window.location.href="login_page";
    }
</script>

<script>
    function logout() {
        fetch('/admin_logout', {
            method: 'POST',
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '/admin_login?message_code=4';
            } else {
                alert('Logout failed. Please try again.');
            }
        })
        .catch(error => {
            console.error('Error during logout:', error);
            alert('An error occurred. Please try again.');
        });
    }
</script>
<script src='../../static/js/product_management.js'></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>